# selfShare config

# Copy this file and rename it to exactly `.env`

# The password to log into the Admin Dashboard
ADMIN_PASSWORD=''

# The cryptographic key used to sign JWTs, make it at least 32 bytes to not triger warnings, and you know, security
JWT_SECRET=''

# Database Connections
DATABASE_URL=postgresql://selfShare:secret@db:5432/selfShare_db