# selfShare Configuration Template

# Copy this file and rename it to exactly `.env`

# The password to log into the Admin Dashboard
ADMIN_PASSWORD=''

# The cryptographic key used to sign JWTs, make it at least 32 bytes
JWT_SECRET=''

# Database Connections (These match the docker-compose.yml defaults)
DATABASE_URL=postgresql://selfShare:secret@localhost:5432/selfShare_db
CELERY_BROKER_URL=redis://localhost:6379/0